{% extends 'base.html' %}

{% block content %}

<div class="container light-bg">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <div class="card-body">
                {% if submitted %}
                <div class="alert alert-success" role="alert">
                    Your Event Was Submitted Successfully!
                </div>
                {% else %}
                <h3>Add an Event</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em" enctype= multipart/form-data>
                    {{ form }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}